archestra:
  # The Docker image to use for the Archestra Platform
  # This image contains both the backend API and frontend
  image: archestra/platform:latest

  # Additional environment variables to pass to the container
  # These will be merged with the default DATABASE_URL environment variable
  # Example:
  #   env:
  #     ARCHESTRA_API_BASE_URL: "https://api.example.com"
  #     CUSTOM_VAR: "custom-value"
  env: {}

# PostgreSQL configuration
postgresql:
  # External database URL to use instead of deploying a PostgreSQL instance
  # If null, a PostgreSQL instance will be deployed using the Bitnami PostgreSQL chart
  # Example: postgresql://username:password@host:5432/database
  external_database_url: null

  # PostgreSQL subchart configuration (only used when external_database_url is null)
  enabled: true
  auth:
    database: archestra_dev
    username: archestra
    password: archestra_dev_password
  # NOTE: Bitnami is archiving their image.. see these github comments for details
  # (this is essentially why we need to override image.repository and image.tag and global.security.allowInsecureImages)
  #
  # https://github.com/coder/coder/issues/19869#issuecomment-3305875979
  # https://github.com/bitnami/containers/issues/83267
  image:
    repository: bitnamisecure/postgresql
    tag: latest
  global:
    security:
      allowInsecureImages: true
