name: Platform Linting and Tests

on:
  workflow_call:

jobs:
  platform-linting-and-tests:
    name: Platform Linting and Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./platform
    steps:
      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          working-directory: ./platform

      - name: Setup environment variables
        run: cp .env.example .env

      - name: Type checking, linting, formatting checks
        run: pnpm check:ci

  build-platform-docker-image:
    name: Build platform Docker image
    uses: ./.github/workflows/build-dockerhub-image.yml
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    with:
      image_directory: ./platform
      image_name: platform
      version: ${{ github.sha }}
      push_image: false

  helm-chart-linting-and-tests:
    name: Helm Chart Linting and Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./platform/helm
    steps:
      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Linting
        run: helm lint .

      - name: Tests
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git
          helm unittest .

      - name: helm package
        # NOTE: can't use ${{ github.sha }} for version here because it's not a valid version number
        # and helm package explicitly checks this
        run: |
          helm package . --version v0.0.1 --app-version v0.0.1
